[Unit]
Description=Lanscape Mini server
Documentation=https://github.com/retreat-community/lanscape
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/lsm-server -c /etc/lsm/server.conf
Restart=always
RestartSec=5
DynamicUser=yes
StateDirectory=lsm
Environment=LSM_DATA_FILE=/var/lib/lsm/runs.json
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
