[Unit]
Description=Lanscape Mini agent
Documentation=https://github.com/retreat-community/lanscape
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/lsm-agent -c /etc/lsm/agent.conf
Restart=always
RestartSec=5
DynamicUser=yes
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
